#### Date : 23rd December, 2022
#### Author : Shreestina Tamrakar
Objective : The objective of this notebook is to see the trend on the number of 
            tourists on different destinations

In [1]:
import pandas as pd
import altair as alt

In [2]:
alt.renderers.enable('mimetype') 
#alt.renderers.enable("notebook")
#alt.renderers.enable("default")
#alt.renderers.enable('html')

RendererRegistry.enable('mimetype')

In [3]:
tourist_df1 = pd.read_csv("tourist_num.csv")
tourist_df1.head()

   year        destination  tourist_no
0  2017      Greater Perth   3621000.0
1  2017          Reykjavík   2492495.0
2  2017      New York city  62800000.0
3  2017   Stockholm County   1320000.0
4  2017  Emirates of Dubai  15790000.0

In [4]:
tourist_df1["year"] = tourist_df1["year"].values.astype(str)

#### Interactive visualisation with altair

In [5]:
chart = alt.Chart(tourist_df1).mark_line(point=alt.OverlayMarkDef(color="white")).encode(
    x=alt.X("year", axis=alt.Axis(title="Year")),
    y=alt.Y("tourist_no", axis=alt.Axis(title="Number of Tourists")),
    color=alt.Color("destination", legend=alt.Legend(title="Destinations")),
    #tooltip=[
        #alt.Tooltip("year"),
        #alt.Tooltip("destination"),
        #alt.Tooltip("tourist_no"),
    #],
).properties(
    width=500, 
    height=400,
    title="Number of tourists in different destinations"
    )

chart

/Users/shreestinatamrakar/opt/miniconda3/envs/tina/lib/python3.8/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

<VegaLite 4 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/troubleshooting.html

### Note:
* All the data represented are from survey
* Couldn't find enough information on the number of tourists for London, Paris and Rome
* For Paris and Rome, the data is mentioned in form of number of arrivals in 
accomodation establishments so the actual number of tourists should be greater.
* The number of tourists for Reykjavik are forecasted numbers extracted from a report
* The number of tourists for Dubai and Istanbul are international only whereas for 
  Greater Perth are domestic only
* For the rest of the destination, the number of tourists represent domestic as well as 
international